.header-navigation {
    margin: 0 1ch;

    nav {
        margin-top: 1em; 
        display: flex; 
        justify-content: space-between;
    }

    ul {
        display: flex; 
        flex-direction: row; 
        padding-left: 0; 
        list-style: none;
        gap: 2ch;
    }
}

#TOC {
    h2 {
       margin-top: 0; 
    }

    ul, li {
        margin-bottom: 0;
    }
}
