.header-navigation {
    margin: 0 1ch;

    nav {
        margin-top: 1em; 
        display: flex; 
        justify-content: space-between;
    }

    ul {
        display: flex; 
        flex-direction: row; 
        padding-left: 0; 
        list-style: none;
        gap: 2ch;
    }
}

.pagination {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 2ch;
    justify-content: center;
    margin-top: calc(var(--line-height) * 2);
}
