{{ define "main" }}
    <header>
        {{- partial "header.html" (dict "context" .) -}}
    </header>

    <main>
        {{ $paginator := .Paginate .Pages.ByTitle }}

        {{ .Content }}
        <ul>
            {{ range $paginator.Pages }}
            <li>
                <a href="{{ .RelPermalink }}"><strong>{{ .LinkTitle }}</strong>{{ if .Params.subtitle }} - {{ .Params.subtitle }}{{ end }}</a>
            </li>
            {{ end }}
        </ul>

        {{ partial "pagination.html" . }}
    </main>

    <footer>
        {{- partial "footer.html" . -}}
    </footer>
{{ end }}
