<div class="header-navigation">
  <nav>
      <ul>
        {{ range .Site.Menus.left }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <ul>
        {{ range .Site.Menus.right }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
  </nav>
</div>

<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1 class="title">QuickWrite</h1>
      <span class="subtitle">My personal website</span>
    </td>
    <th>Message</th>
    <td class="width-min">Something</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td class="width-min"><time style="white-space: pre;">2025-08-20</time></td>
  </tr>
  <tr>
    <th class="width-min">Text</th>
    <td class="width-auto">Way more text</td>
    <th class="width-min">License</th>
    <td>MIT</td>
  </tr>
</table>
