<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1 class="title">QuickWrite</h1>
      <span class="subtitle">My personal website</span>
    </td>
    <th>Message</th>
    <td class="width-min">Something</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td class="width-min"><time style="white-space: pre;">2025-08-20</time></td>
  </tr>
  <tr>
    <th class="width-min">Text</th>
    <td class="width-auto">Way more text</td>
    <th class="width-min">License</th>
    <td>MIT</td>
  </tr>
</table>

<div style="width: calc(round(down, 100%, 1ch));">
    <nav style="margin-top: -1em;">
        <ul style="display: flex; flex-direction: row; justify-content: space-between; list-style: none; padding-left: 0;">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/something-else">Other</a></li>
        </ul>
    </nav>
    
</div>